################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApiEncuestas/Models/Encuestas.cs
/.vs
/obj
/ApiMomentos/bin/Debug/net6.0/ApiObjetos.dll
/Hotel.rar
/ApiMomentos/obj/Release/net6.0/PubTmp/Out/BCrypt.Net-Next.dll
