name: Deploy .NET Project to IIS

on:
  push:
    branches:
      - iis-production

jobs:
  build-and-deploy:
    name: Build and Deploy .NET to IIS
    runs-on: [self-hosted, Windows, X64]

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./API-Hotel.sln

      - name: Build
        run: dotnet build ./API-Hotel.sln -c Release --no-restore

      - name: Clean publish folder
        shell: powershell
        run: |
          if (Test-Path publish) {
            Remove-Item publish -Recurse -Force
          }

      - name: Publish
        run: dotnet publish ./API-Hotel/hotel.csproj -c Release -o publish --no-build

      - name: Deploy to IIS Application
        shell: powershell
        run: |
          ./Deploy-IIS.ps1 -WebsiteName "Default Web Site" `
                           -ApplicationName "ApiHotalNoSe" `
                           -SourcePath "./publish" `
                           -DestinationPath "C:\AddWeb\Api-Hotel"
